/* Cartography */

.leaflet-styleeditor-interior {
    width: inherit;
}
.leaflet-styleeditor-interior .value.selecting-resource {
    display: flex;
}
.leaflet-styleeditor-interior .value.selecting-resource.leaflet-styleeditor-oalinking {
    display: grid;
}
.leaflet-styleeditor-interior .value.selecting-resource .actions {
    display: flex;
    margin-left: auto;
}
.leaflet-styleeditor-interior .value.selecting-resource .actions a:link,
.leaflet-styleeditor-interior .value.selecting-resource .actions a:visited {
    color: #A91919;
}
.leaflet-styleeditor-interior  textarea.leaflet-styleeditor-input {
    max-height: unset;
}
