/* Cartography */

.o-icon-geometry:before {
    content: "\f3c5";
}

/* Leaflet layers */
.leaflet-control-layers input[name="leaflet-base-layers"] {
    font-size: 16px;
    line-height: 24px;
 }

/* Popup content */
.leaflet-popup-content .annotation-body-rdf-value,
.leaflet-popup-content .annotation-body-oa-linking {
    margin-bottom: 18px;
}
.leaflet-popup-content .annotation-body-oa-linking .value {
    display: flex;
}
.leaflet-popup-content .annotation-body-oa-linking .value .resource-oa-linking {
    margin: 0;
    position: relative;
}
.leaflet-popup-content .annotation-body-oa-linking .value .resource-oa-linking img {
    height: 24px;
    margin-right: 6px;
}
.leaflet-popup-content .annotation-caption {
    /* TODO Fix this min width when the popup is small. */
    min-width: 60px;
}
.leaflet-popup-content .annotation-caption .actions {
    /* TODO Fix this margin. */
    margin-top: -4px;
}
.leaflet-popup-content .annotation-metadata {
    color: #444444;
    border-top: #888888 1px solid;
    margin-top: 6px;
    padding-top: 6px;
}
.leaflet-popup-content .actions {
    float: right;
    list-style: none;
}

/* Style editor */
.leaflet-styleeditor-interior {
    width: inherit;
}
.leaflet-styleeditor-interior .value.selecting-resource {
    display: flex;
}
.leaflet-styleeditor-interior .value.selecting-resource.leaflet-styleeditor-oalinking {
    display: grid;
}
.leaflet-styleeditor-interior .value.selecting-resource .actions {
    display: flex;
    margin-left: auto;
    list-style: none;
}
.leaflet-styleeditor-interior .value.selecting-resource .actions a:link,
.leaflet-styleeditor-interior .value.selecting-resource .actions a:visited {
    color: #A91919;
}
.leaflet-styleeditor-interior  textarea.leaflet-styleeditor-input {
    max-height: unset;
}
.leaflet-styleeditor-header {
    background-color: inherit;
}
.leaflet-styleeditor-button:hover {
    background-color: #e8e8e8;
}
.leaflet-styleeditor-button {
    background-color: inherit;
}
