/build
/cache
/language/debug.po
/language/debug.mo
/language/chef.po
/language/chef.mo
/node_modules
/vendor
.sass-cache/
.bundle
.DS_Store
.php_cs.cache
.php-cs-fixer.cache
composer.phar
debug.log

# Vendor assets managed by external-assets are ignored.
# Patched/custom libs are force-added (leaflet-draw,
# leaflet-paste, leaflet-styleeditor).
/asset/vendor/leaflet/
/asset/vendor/leaflet-draw/images/
/asset/vendor/leaflet-fullscreen/
/asset/vendor/leaflet-geosearch/
/asset/vendor/leaflet-groupedlayercontrol/
/asset/vendor/leaflet-markercluster/
/asset/vendor/leaflet-paste/vendor/
/asset/vendor/leaflet-providers/
/asset/vendor/leaflet-tilelayer-wmts/
/asset/vendor/leaflet-iiif/
